<ion-header>
  <ion-toolbar>
    <ion-title>
      Linha do tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
        <ion-button size="large" expand="block" (click)="newPost()">Nova Postagem</ion-button>
    </div>
    
    <ion-list>
    <ion-item-sliding *ngFor="let post of posts">
      <ion-card>
        <ion-card-header>
          <ion-card-title (click)="openPost(post.id)">{{ post.title }}</ion-card-title>
          <ion-card-subtitle>{{ post.subject }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item-sliding>
  </ion-list>
</ion-content>
